[submodule "slam_tester"]
	path = slam_tester
	url = git@github.com:jcmayoral/slam_tester.git
[submodule "trajectory_follower"]
	path = trajectory_follower
	url = gitgate@mas.b-it-center.de:jmayor2s/trajectory_follower.git
[submodule "navigation"]
	path = navigation
	url = git@github.com:jcmayoral/navigation.git
[submodule "myRaspberryPI"]
	path = myRaspberryPI
	url = git@github.com:jcmayoral/myRaspberryPI.git
[submodule "sa_tool_python"]
	path = sa_tool_python
	url = git@github.com:jcmayoral/sa_tool_python.git
[submodule "diagnostics"]
	path = diagnostics
	url = git@github.com:jcmayoral/diagnostics.git
[submodule "BMC"]
	path = BMC
	url = git@github.com:jcmayoral/BMC.git
[submodule "VisionUtils"]
	path = VisionUtils
	url = git@github.com:jcmayoral/VisionUtils.git
