[submodule "slam_tester"]
	path = slam_tester
	url = git@github.com:jcmayoral/slam_tester.git
[submodule "navigation"]
	path = navigation
	url = git@github.com:jcmayoral/navigation.git
[submodule "myRaspberryPI"]
	path = accelerometers/myRaspberryPI
	url = git@github.com:jcmayoral/myRaspberryPI.git
[submodule "sa_tool_python"]
	path = sa_tool_python
	url = git@github.com:jcmayoral/sa_tool_python.git
[submodule "diagnostics"]
	path = diagnostics
	url = git@github.com:jcmayoral/diagnostics.git
[submodule "BMC"]
	path = BMC
	url = git@github.com:jcmayoral/BMC.git
[submodule "VisionUtils"]
	path = camera/VisionUtils
	url = git@github.com:jcmayoral/VisionUtils.git
[submodule "raspberry_ros"]
	path = accelerometers/raspberry_ros
	url = git@github.com:jcmayoral/raspberry_ros.git
[submodule "vision_utils_ros"]
	path = camera/vision_utils_ros
	url = git@github.com:jcmayoral/vision_utils_ros.git
