[submodule "navigation"]
	path = navigation
	url = git@github.com:jcmayoral/navigation.git
        branch = collisions
[submodule "myRaspberryPI"]
	path = myRaspberryPI
	url = git@github.com:jcmayoral/myRaspberryPI.git
[submodule "BMC"]
	path = BMC
	url = git@github.com:jcmayoral/BMC.git
[submodule "VisionUtils"]
	path = VisionUtils
	url = git@github.com:jcmayoral/VisionUtils.git
[submodule "raspberry_ros"]
	path = raspberry_ros
	url = git@github.com:jcmayoral/raspberry_ros.git
[submodule "vision_utils_ros"]
	path = vision_utils_ros
	url = git@github.com:jcmayoral/vision_utils_ros.git
[submodule "other_sensors"]
	path = other_sensors
	url = git@github.com:jcmayoral/other_sensors.git
