<?xml version="1.0"?>

<launch>

  <arg name="sensor_id" default="odom_1" />
  <arg name="sensor_number" default="5" />

  <node pkg="odom_monitoring" type="odom_for_fusion" respawn="false" name="odom_collisions" output="screen">
    <param name="sensor_id" type="string" value="$(arg sensor_id)"/>
    <param name="sensor_number" type="int" value="$(arg sensor_number)"/>
  </node>

</launch>
